header {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 1000;
  background-color: #92C7CF;
}

h1 {
  color: #FBF9F1;
  margin: 0;
}

nav {
  margin-top: 10px;
}
nav a {
  color: #FBF9F1;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}
.link-without-decoration {
  text-decoration: none;
  color: inherit;
}

.active-link {
  font-weight: bold;
}

a{
  cursor: pointer;
}



