header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(236, 109, 96, 0.72);
  position: relative;
  z-index: 1000;
}


.logo {
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-family: 'Arial', sans-serif;
  color: #AFD198;
}

.he {
  color: rgba(236, 109, 96, 0.72);
}


nav {
  display: flex;
  align-items: center;

}


nav a {
  color: rgba(236, 109, 96, 0.72);
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.2em;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #AFD198;
  text-decoration: none;
}


.active-link {
  font-weight: bold;
  color: #AFD198;
}

a {
  cursor: pointer;
}
