<mat-tab-group >
    <mat-tab label="My schedule"> <div class="position">
        <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">View Scheduled</button>
    </div> </mat-tab>
    <mat-tab label="Check Requests"><div class="position">
        <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">Do you have any new request?</button>
    </div>
    </mat-tab>
    <mat-tab label="Send Request"> <div class="position">
        <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">Want to meet up?</button>
    </div> </mat-tab>

    <mat-tab label="View Friends">  <div class="position">
        <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">List of your friends</button>
    </div></mat-tab>

    <mat-tab label="My streak">  <div class="position">
        <button class="dugme" mat-raised-button color="primary" (click)="redirectToMeetup()">Check Streak</button>
    </div></mat-tab>
</mat-tab-group>