


<div class="container">
    <div class="sidebar">
        <button class="button">Profile</button>
        <button class="button">Request</button>
        <button class="button">Main Page</button>
        <button class="button">Sending Requests</button>
    </div>
    <div class="main-content">
        <div class="schedule">
            <h2>Weekly Schedule</h2>
            <br>
            <table>
                <tr>
                    <th></th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                <tr>
                    <td>10:00 AM</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                </tr>
                <tr>
                    <td>12:00 PM</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                </tr>
                <tr>
                    <td> 14:00 PM</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                </tr>
                <tr>
                    <td> 16:00 PM</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                    <td>Activity</td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <button class="button">Add Friends</button>
            <button class="button">Edit Schedule</button>
        </div>
    </div>
</div>
