* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mat-tab-header-inactive-label-text-color: rgb(14 7 7 / 60%);
  --mat-tab-header-inactive-hover-label-text-color: rgba(25, 154, 183);
  --mat-tab-header-active-label-text-color: rgba(5, 93, 117);
  --mat-tab-header-active-ripple-color: #53d4bd;
  --mat-tab-header-inactive-ripple-color: #43c7ca;
  --mat-tab-header-active-focus-label-text-color: rgba(5, 93, 117);
  --mdc-tab-indicator-active-indicator-color: #5cd4d8;
  --mat-tab-header-active-focus-indicator-color: #5cd4d8;
}

.position{
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  gap: 10px;
}

.dugme{
  grid-column-start: 2;
  background-color:#5cd4d8;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.dugme:hover {
  background-color: #92C7CF;
  color: white;
}