.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.sidebar {
  width: 20%;
}

.main-content {
  flex: 1;
  margin-left: 20px;
}

.button, .small-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #92C7CF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.button:hover, .small-button:hover {
  background-color: #4a9da9;
}

.buttons {
  margin-bottom: 20px;
}

.schedule {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
