.invitation {
    text-align: center;
}

.accept-btn,
.reject-btn {
    background-color: #92C7CF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.accept-btn:hover,
.reject-btn:hover {
    background-color: #4a9da9;
}

.streak {
    text-align: center;
    margin-top: 20px;
}

.streak p {
    font-size: 16px;
}

.streak-count {
    font-weight: bold;
}



